<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vue Form Test</title>
    <script type="text/javascript" th:src="@{/webjars/vue/2.6.10/dist/vue.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/axios/0.19.0/dist/axios.js}"></script>
</head>
<body>
    <div id="main-content">
        <p>
            <h2>VueによるFormの内容チェック</h2>
            <form id="input-form" method="post" th:action="@{/vue/form}" th:object="${formValue}">
                <h4>初期設定値の確認</h4>
                <input type="text" id="message" th:value="*{messageText}" v-model="message"/>
                <p>{{message}}</p>
            </form>
        </div>
    </div>
    <script>
        // Scriptへのインライン出力はこんな記述
        var hoge = "[[${formValue.messageText}]]";
    </script>
</body>
<script type="text/javascript" th:src="@{/js/vue/Form.js}"></script>
</html>