<!DOCTYPE html>
<!-- thymeleafタグを使用する場合、xmlns:th="http://www.thymeleaf.org"が必須 -->
<html lang="jp"
  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  プロジェクトの外部ライブラリを参照  -->
    <script type="text/javascript" th:src="@{/webjars/vue/2.6.10/dist/vue.js}"></script>
</head>
<body>
    <div id="main-content">
        <p>
        <h2>VueによるFormの送信チェック</h2>
        <!--
            th:actionは送信先のURLパターン
            送信した際のマッピングの紐づけはname属性で行われる
        -->
        <form id="input-form" method="post" th:action="@{/vue/formjson/send}">
            <h4>初期設定値の確認</h4>
            名前:<input type="text" id="name" name="name" v-model="formData.name"/><br/>
            年齢:<input type="text" id="age" name="age" v-model="formData.age"/><br/>
            メッセージ:<input type="text" id="message" name="message" v-model="formData.message"/><br/>
            <input type="submit" value="送信"/>
        </form>

        <!--
            formの初期値設定JSONの出力エリア
            実験的にThymeleafでJSON文字列を読み込んでVueオブジェクトに取り込んでみた
            取り込み処理についてはFormJson.jsを参照
        -->
        <div id="form-init-data" hidden th:text="${formJson}"></div>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/vue/FormJson.js}"></script>
</html>