<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a th:href="@{/}">index</a><br/>
        <a th:href="@{/vue}">Vueの基本構文</a><br/>
        <a th:href="@{/vue/listview}">APIによる情報取得</a><br/>
        <a th:href="@{/vue/form}">VueによるFormの内容チェック</a><br/>
        <a th:href="@{/vue/formjson}">VueによるJsonの取り込み</a><br/>
        <a th:href="@{/shop}">複雑なフォーム</a><br/>
    </div>
</body>
</html>